:root {
    --color-primary: #21EB00;
    --color-background: #0d0e0d;
    --color-text: #bebeba;
    --color-element: #363636;

    font-size: 70%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);

    font-family: 'Kumbh Sans', sans-serif;
}